<nav>
    <FluentNavMenu Width="250" Collapsible="true" Expanded="false" Title="Event Views">
        <FluentNavLink Href="/list" Icon="@(new Icons.Filled.Size20.AppsList())" IconColor="Color.Accent">List View</FluentNavLink>
        <FluentNavLink Href="/tree" Icon="@(new Icons.Filled.Size24.CubeTree())" IconColor="Color.Accent">Tree View</FluentNavLink>
        <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.ArrowExit())" IconColor="Color.Accent" Match="NavLinkMatch.All">Close Trace</FluentNavLink>
    </FluentNavMenu>
</nav>