@page "/tree"

@using DotnetEventViewer.State
@using DotnetEventViewer.Models

@inject StateContainer StateContainer

<PageTitle>Events Tree</PageTitle>

<h1>Events Tree</h1>

<FluentTreeView RenderCollapsedNodes="true">
    @RenderCallTreeNode(_callTree)
</FluentTreeView>

@code {
    private CallTreeNode _callTree = default!;

    protected override Task OnInitializedAsync()
    {
        if (StateContainer.Trace == null)
        {
            return Task.CompletedTask;
        }

        _callTree = CallTreeNode.Create(StateContainer.Trace.StackTraces);
        return Task.CompletedTask;
    }

    private static RenderFragment RenderCallTreeNode(CallTreeNode node, CallTreeNode? parent = null)
    {
        return builder =>
        {
            builder.OpenComponent<FluentTreeItem>(0);
            builder.AddAttribute(1, "Text", node.MethodDescription.ToString());

            if (node.Children != null)
            {
                if (node.Children.Count == 1 && parent?.Children is { Count: 1 })
                {
                    builder.AddAttribute(2, "InitiallyExpanded", true);
                }

                builder.AddAttribute(3, "ChildContent", (RenderFragment)(b =>
                {
                    foreach (var child in node.Children)
                    {
                        RenderCallTreeNode(child.Value, node)(b);
                    }
                }));
            }

            builder.CloseComponent();
        };
    }
}