@page "/tree"

@using DotnetEventViewer.CallTree
@using DotnetEventViewer.CallTree.CountAggregators
@using DotnetEventViewer.Components
@using DotnetEventViewer.Querying
@using DotnetEventViewer.State

@inject StateContainer State

<PageTitle>@State.TraceExtraMetadata!.Filename | Events Tree</PageTitle>

<h1>Events Tree</h1>

<QueryBuilder QueryType="QueryType.Tree" OnQuery="OnQuery" />
<CallTreeView Tree="_callTree" Aggregator="_callTreeAggregator" />

@code {
    private CallTreeNode? _callTree;
    private ICallTreeCountAggregator? _callTreeAggregator;

    private void OnQuery(QueryResult queryResult)
    {
        var processor = queryResult.CallTreeAggregator!.CreateProcessor();
        _callTree = CallTreeNode.Create(queryResult.FilteredEvents, processor, queryResult.BottomUpTree);
        _callTreeAggregator = queryResult.CallTreeAggregator;
    }

}