@page "/tree"

@using DotnetEventViewer.CallTree
@using DotnetEventViewer.CallTree.Decorators
@using DotnetEventViewer.Components
@using DotnetEventViewer.Querying
@using DotnetEventViewer.State

@inject StateContainer State

<PageTitle>@State.TraceExtraMetadata!.Filename | Events Tree</PageTitle>

<h1>Events Tree</h1>

<QueryBuilder QueryType="QueryType.Tree" OnQuery="OnQuery" />
<CallTreeView Tree="_callTree" Decorator="_callTreeDecorator" />

@code {
    private CallTreeNode? _callTree;
    private ICallTreeNodeDecorator? _callTreeDecorator;

    private void OnQuery(QueryResult queryResult)
    {
        _callTree = CallTreeNode.Create(queryResult.FilteredEvents, queryResult.CallTreeDecorator!);
        _callTreeDecorator = queryResult.CallTreeDecorator;
    }

}